body {
  background-color: #fcf5e5;
}

.page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
